@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
	margin: 0;
	padding: 0;
	background: #282828;
	font-family: 'Roboto Condensed', sans-serif;
}

.container{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
	overflow: hidden;
}

.container h1{
	margin-top: 15vh;
	margin-bottom: 15vh;
	letter-spacing: 10px;
	color: #fff;
}

.container img{
	margin-top: 20vh;	
	width: 40rem;
}

.lead{
	color: #fff;
	font-size: 1.5rem;
}

.cont{
	display: grid;
}